body {
    font-family: Arial, sans-serif;
    background-color: #dafaff;
    color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #2ae2fe;
    color: black;
    padding: 20px;
    text-align: center;
    width: 100%;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
header h1 {
    font-size: 50px;
}
.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
}
.media-item {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
    animation: slideIn 0.9s ease-out forwards;
    opacity: 0;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.media-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.media-item img:hover {
    transform: scale(1.05);
}
.media-item a {
    display: block;
    margin-top: 10px;
    color: cyan;
    text-decoration: none;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}
nav ul li:hover {
    transform: scale(1.05);
}
nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 3px;
}
nav ul li a:hover {
    color: purple;
    background-color: #2d5af0;
}
@media (max-width: 600px) {
    .grid-container {
        flex-direction: column;
        align-items: center;
    }
}
.HomePic {
    display: flex;
    justify-content: center;
}
.HomePic a{
    margin-top: 10px;
    width: 60%;
    height: auto;
}
.HomePic img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}
.HomePic img:hover {
    transform: scale(1.01);
}
.HomeTitel {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: black;
    font-size: 30px;
}
.Section{
    margin-top: 1rem;
}
.Section h3 {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    margin-top: 10px;
}
.media-item:nth-child(1) { animation-delay: 0.1s; }
.media-item:nth-child(2) { animation-delay: 0.2s; }
.media-item:nth-child(3) { animation-delay: 0.4s; }
.media-item:nth-child(4) { animation-delay: 0.6s; }
.media-item:nth-child(5) { animation-delay: 0.8s; }
.media-item:nth-child(6) { animation-delay: 1.0s; }
.media-item:nth-child(7) { animation-delay: 1.1s; }
.media-item:nth-child(8) { animation-delay: 1.2s; }
.media-item:nth-child(9) { animation-delay: 1.4s; }
.media-item:nth-child(10) { animation-delay: 1.6s; }
.media-item:nth-child(11) { animation-delay: 1.8s; }
.media-item:nth-child(12) { animation-delay: 2.0s; }
.media-item:nth-child(13) { animation-delay: 2.1s; }
.media-item:nth-child(14) { animation-delay: 2.2s; }
.media-item:nth-child(15) { animation-delay: 2.4s; }
.media-item:nth-child(16) { animation-delay: 2.8s; }
.media-item:nth-child(17) { animation-delay: 3.4s; }
.media-item:nth-child(18) { animation-delay: 3.6s; }
.media-item:nth-child(19) { animation-delay: 3.8s; }

.line {
    height: 5px; /* Dicke der Linie */
    background-color: black; /* Farbe der Linie */
    border: none; /* Standardrahmen entfernen */
    margin: 0;
    display: block;
    width: 100%;
}
